{% extends "base.html.twig" %}

{% block content %}
<br><br><br><br><br>
<div>
{% for hotel in h %}
    {% if hotel.accommodation_type_name == "Resort" %}
        <form method="post">        
            <img src="{{hotel.max_photo_url}}" width='300px'><br>
            <input type="hidden" name="hotel" value="{{hotel|json_encode()}}"/>
            <input type="hidden" name="options" value="{{options|json_encode()}}"/>
            <p>
                Hotel Name: {{ hotel.hotel_name }}<br>
                City: {{ hotel.city }}<br>
                Address: {{ hotel.address }}<br>
                Price ({{hotel.currency_code}}): {{ hotel.price_breakdown.all_inclusive_price }}<br>
            </p>
            <input type="submit" value="Book This Resort"><br><br><br>
        </form>    
    {% endif %}
{% endfor %}  
    
</div>
{% endblock content %}