{% extends "base.html.twig" %}
{% block title %}Destinations
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/destinations.css">
	<script src="scripts/nav.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}


	<div class="parallax-1">
		<div class="caption">
			<span class="border">Are You Ready To..</span>
		</div>
	</div>

	<section class="section p-5">

		<div class="container">
			<div class="row text-center g-4">
			
				{% if destinations %}
					{% for destination in destinations %}
						<div class="div col-md">
							<div class="card .bg-light.bg-gradient text-dark">
								<div class="card-body text-center">
									<div class="h1 mb-3">
										<h3 class="h3 card-title">{{ destination.destination_name }}</h3>
									</div>
									<p class="card-text">
										{{ destination.destination_description }}
									</p>
									<img class="img-fluid" src="{{ destination.destination_imagepath }}" alt="{{ destination.destination_name }} photo">
									<div class="submitButtonBox">
										<a class="submitButton" href="placebid/{{ destination.id }}" class="btn btn-info mt-3">Explore</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}

			</div>
		</div>
	</div>

</section>

<div class="parallax-1">
	<div class="caption">
		<span class="border">...Travel Right</span>
	</div>
</div>{% endblock %}
