{% extends "base.html.twig" %}
{% block title %}Booking
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/book.css"/>
	<script src="scripts/booking.js" defer></script>
	{{ parent() }}
{% endblock %}

{% block content %}

<div class="parallax-1">
	<div class="caption">
		<span class="border">Are You Ready To..</span>
	</div>
</div>

<main></main>
<section id="confirmed_container">
	<form id="booking-form" name="booking-form" method="POST" autocomplete="on">
		<div class="grid-container">
			<div class="full-width">
				<h1>Take Your Dream Vacation</h1>
			<div class="full-width">
				<h3>Booking Details</h3>
				Choose Your Destination:
			</div>
			<div class="full-width">
			{% for destination in d %}
				<input type="radio" id="{{destination.destination_name}}" name="location" value="{{destination.destination_name}}" required/>
				<label for="{{destination.destination_name}}"><img src="{{destination.destination_imagepath}}" height="170" width="307" alt="{{destination.destination_name}} image" title="{{destination.destination_name}} image"/></label>
			{% endfor %}	
				<br/>
			</div>
			<div class="col2">
				<br/><br/>
				<label for="adults">Adults&ast;</label>
				<br/>
				<input type="number" id="adults" name="adults" value="1" required/>
			</div>
			<div class="col3">
				<br/><br/>
				<label for="children">Children</label>
				<br/>
				<input type="number" id="children" name="children" value="0"/>
			</div>
			<div class="col2">
				<label for="arrival">Arrival Date&ast;</label>
				<br/>
				<input type="date" id="arrival" name="arrival" required/>
			</div>
			<div class="col3">
				<label for="departure">Departure Date&ast;</label>
				<br/>
				<input type="date" id="departure" name="departure" required/>
			</div>
			<div class="full-width">
				<br/>
				<input type="submit" class="submit" value="Send"/>
				<p>Required Field*</p>
			</div>
		</div>
	</form>
</section>

<div class="parallax-1">
	<div class="caption">
		<span class="border">...Travel Right</span>
	</div>
</div>


{% endblock %}
