{% extends "base.html.twig" %}
{% block title %}Confirm Payment
{% endblock %}

{% block content %}
    <br><br><br>
    <form method="post">
            <input type="hidden" name="hotel" value="{{hotel|json_encode()}}"/>
            <input type="hidden" name="options" value="{{options|json_encode()}}"/>
            <p>
                Hotel Name: {{ hotel.hotel_name }}<br>
                City: {{ hotel.city }}<br>
                Price ({{hotel.currency_code}}): {{ hotel.price_breakdown.all_inclusive_price }}<br>
                Price (CAD): {{ cad_price }}<br>
            </p>
            <input type="submit" name="submit" value="Confirm Payment"><br><br><br>
        </form>  
{% endblock %}