{% extends "base.html.twig" %}
{% block title %}User Profile
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../styles/userProfile.css">
	<script src="scripts/nav.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}


	<div class="parallax-1">
		<div class="caption">
			<span class="border"> {{user.first_name}}'s Trip History </span>
		</div>
	</div>

	<section class="section p-5">

		<div class="container">
			<div class="row-cols-auto text-center g-4">

				{% if booking_history %}
					{% for trip in booking_history %}
						<!-- Order history Cards -->
						<div class="col">
							<div class="card .bg-light.bg-gradient text-dark">
								<div class="card-body text-center">
									<div class="h1 mb-3">
										<h2 class="h3 card-title">{{ trip.destination_name }}</h2>
										<p class="tripNum" >Trip #: {{ trip.booking_confirm }}</p>
									</div>
									<div class="destinationImageBox">
										<button class="btn btn-lg submitButton" data-bs-toggle="modal" data-bs-target="#exampleModal{{ trip.id }}">Trip Details</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal -->
						<!-- FIX ME: FORMAT TO DISPLAY ORDER SUMMARY-->
						<div class="modal fade" id="exampleModal{{ trip.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="text-center card-title text-nowrap" id="exampleModalLabel">Order Summary</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p class="text-start"> Your confirmation number is: <strong>{{ trip.booking_confirm }}</strong></p>
										<p class="text-start"> Your total amount paid is: <strong>{{ trip.total_price }}</strong></p>
										<p class="text-start"> Your trip was booked on: <strong>{{ trip.paymentTS }}</strong></p>
										<p class="text-start"> Your chosen destination is: <strong>{{ trip.destination_name }}</strong></p>
										<p class="text-start"> Your departure date is: <strong>{{ trip.departure_date }}</strong></p>
										<p class="text-start"> Your return date is: <strong>{{ trip.return_date }}</strong></p>
										<p class="text-start"> Number of adults: <strong>{{ trip.number_adults }}</strong></p>
										<p class="text-start"> Number of children: <strong>{{ trip.number_children }}</strong></p>
										<h2>Enjoy Your trip</h2>
									</div>
									
									<!-- BUTTON TO ADD onClick will reveal TESTIMONIAL SUBMISSION FORM -->
									<div class="modal-footer">
										<button type="button" class="btn btn-info">
											<a href="/booking">Add Testimonial!</a>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal END-->
						<!-- Destination Card END-->
					{% endfor %}
				{% endif %}

			</div>
		</div>

	</section>

	<div class="parallax-1">
		<div class="caption">
			<span class="border">...Travel Right</span>
		</div>
	</div>

{% endblock %}